* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.btn-primary {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 20px 40px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.bg-primary {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-primary {
    font-size: 3rem;
    margin-bottom: 24px;
    font-weight: 700;
}

/* Nav related styles */

nav {
    margin: 40px 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-title {
    font-size: 45px;
    color: #0B0223;
    font-weight: 700;
    margin-left: 20px;
}

.nav-title-special {
    color: #FF42A5;
}

nav>ul {
    display: flex;
}

nav>ul li {
    list-style: none;
    margin-right: 30px;
}

ul li a {
    color: #3C354F;
    text-decoration: none;
}

.follow-us {
    background-color: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    border-radius: 8px;
}

.youtube {
    color: #F61C0D;
}

/* Banner related styles */

.banner-container {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    padding: 20px 240px 0 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title-one {
    font-size: 3rem;
    font-weight: 600;
    color: #0B0223;
}

.banner-title-two {
    font-size: 95px;
    font-weight: 800;
}

.banner-details {
    font-size: 20px;
    color: #534C64;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 500;
}

.btn-special {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 24px;
    border: 0;
    padding: 20px 40px;
    border-radius: 48px;
    background: #4EC5F7;
}

.play,
.download {
    color: #F61C0D;
}

/* -----------------------------------------------------

WE are gamer related styles

-------------------------------------------------------- */

.we-are-gamer {
    display: flex;
    justify-content: space-between;
    padding: 80px 240px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    ;
}

.we-are-gamer-content {
    text-align: end;
}

.gamer-description {
    color: #534C64;
    font-size: 18px;
    margin-bottom: 30px;
}

.gamer-purpose {
    font-size: 30px;
    font-weight: 700;
    color: #534C64;
    margin-top: 30px;
}

.purpose-span {
    font-size: 24px;
    color: #0B0223;
    font-weight: 500;
}


/* Online games related styles */

.online-games-text {
    text-align: center;
    margin-top: 120px;
}

.online-games-contents {
    display: flex;
    margin: 0 240px;
    gap: 20px;
}

.games-card-img {
    margin-bottom: 20px;
}

.games-card-img:hover {
    cursor: pointer;
    border-radius: 16px;

    /* background-color: #0B0223; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
}


.play-instantly {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 240px;
    position: relative;
}

.play-instantly-contents {
    max-width: 400px;
    text-align: end;
}

.play-instantly-img-two {
    position: absolute;
    right: 450px;
    top: 380px;
}

.more-games-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 120px 240px;
}

.more-games-contents {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    text-align: center;
}

.more-games-contents div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 10px;


    grid-column-start: span 2;

    &:nth-child(6n) {
        grid-column-end: 4;
    }
}

footer {
    background: #0B0223;
    padding: 120px 240px 80px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.footer-title {
    color: #fff;
    font-size: 3rem;
    margin-left: 20px;
}

.footer-details {
    display: flex;
    justify-content: center;
    color: #fff;
}

.footer-details p,
.footer-more-details p {
    margin-right: 40px;
}

.footer-more-details {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
    margin-top: 40px;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    margin-top: 20px;
}

.footer-logos ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.footer-logos li {
    list-style: none;
    margin-right: 40px;
}

.facebook {
    color: #0165E1;
}

.linkedin {
    color: #0A66C2;
}

/* -----------------------------------------------------
-----------------------------------------------------
            Mobile responsive design
-----------------------------------------------------
----------------------------------------------------- */

@media screen and (max-width: 576px) {

    nav {
        margin: 80px 10px;
        flex-direction: column;
    }

    nav>ul {
        flex-direction: column;
        align-items: center;
    }

    ul li {
        margin-top: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
        padding: 0px;
        background: none;
    }

    .banner-content {
        background-image: url('../images/Group\ 14.png');
        background-repeat: no-repeat;
        margin-top: 30px;
        max-width: 80%;
        padding: 20px;
        text-align: start;
    }

    .banner-title-one {
        font-size: 2rem;
    }

    .banner-title-two {
        font-size: 65px;
    }

    .btn-primary {
        font-size: 16px;
        padding: 20px 25px;
    }

    .btn-special {
        font-size: 16px;
        padding: 20px 25px;
        margin: 5px;
    }

    .banner-img img {
        max-width: 100%;
        margin: 0 auto;
    }

    .we-are-gamer {
        padding: 0;
        flex-direction: column;
    }

    .gamer-img {
        width: 100%;
    }

    .we-are-gamer-content {
        width: 100%;
        text-align: center;
    }

    .title-primary {
        font-size: 2.5rem;
        margin-bottom: 14px;
        font-weight: 700;
    }

    .gamer-description {
        font-size: 18px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .gamer-purpose {
        font-size: 24px;
    }

    .purpose-span {
        font-size: 18px;
        color: #0B0223;
    }

    .online-games-contents {
        flex-direction: column;
        margin: 0;
        gap: 20px;
    }

    .games-card {
        text-align: center;
    }

    .games-card-img {
        max-width: 90%;
    }

    .games-card p {
        max-width: 100%;
    }

    .play-instantly {
        flex-direction: column;
        align-items: center;
        margin: 0;
        text-align: center;
    }

    .play-instantly-contents {
        max-width: 100%;
        text-align: center;
    }

    .play-instantly-img-one {
        width: 70%;
        margin-left: 50px;
    }

    .play-instantly-img-two {
        width: 30%;
        position: absolute;
        right: 240px;
        top: 500px;
    }

    .more-games-container {
        padding: 50px 0;
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .more-games-contents {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 5px;
    }

    .more-games-contents div {
        justify-content: center;
        padding: 5px 10px;
        grid-column-start: span 2;

        &:nth-child(6n) {
            grid-column-end: -1;
        }
    }

    .more-games-contents div>img {
        width: 10px;
    }

    .more-games-contents div>p {
        font-size: 8px;
    }


    footer {
        padding: 120px 0px 100px;
    }

    .footer-details {
        flex-wrap: wrap;
        font-size: 16px;
    }

    .footer-details p,
    .footer-more-details p {
        margin: 0 20px 20px;
    }

    .footer-more-details {
        flex-wrap: wrap;
        font-size: 14px;
    }

    .footer-logos ul {
        margin-top: 0;
        margin-bottom: 40px;
    }
}


/* -----------------------------------------------------
-----------------------------------------------------
            Tablet responsive design
-----------------------------------------------------
----------------------------------------------------- */


@media screen and (min-width: 576px) and (max-width: 990px) {
    nav {
        margin: 30px 30px;
        flex-direction: column;
    }

    ul {
        margin-top: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
        padding: 0px;
        background: none;
    }

    .banner-content {
        background-image: url('../images/Group\ 14.png');
        background-repeat: no-repeat;
        margin-top: 40px;
        max-width: 80%;
        padding: 40px 170px;
        text-align: start;
    }



    .we-are-gamer {
        padding: 0;
        flex-direction: column;
    }

    .gamer-img {
        width: 100%;
    }

    .we-are-gamer-content {
        width: 100%;
        text-align: center;
    }

    .title-primary {
        margin-bottom: 5px;
    }

    .gamer-description {
        padding: 40px;
        margin-bottom: 5px;
    }

    .online-games-contents {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

    .games-card {
        text-align: center;
    }

    .play-instantly {
        flex-direction: column;
        align-items: center;
        margin: 0;
        text-align: center;
    }

    .play-instantly-contents {
        max-width: 100%;
        text-align: center;
    }

    .play-instantly-img-one {
        width: 60%;
        margin-left: 150px;
    }

    .play-instantly-img-two {
        width: 30%;
        position: absolute;
        right: 420px;
        top: 600px;
    }

    .more-games-container {
        padding: 50px 0;
        margin: 100px 40px 0;
    }

    .more-games-contents {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 5px;
    }

    .more-games-contents div {
        padding: 5px 10px;
        grid-column-start: span 2;

        &:nth-child(6n) {
            grid-column-end: -1;
        }
    }

    .more-games-contents div>img {
        width: 40px;
    }

    .more-games-contents div>p {
        font-size: 12px;
    }

    footer {
        padding: 120px 0px 100px;
    }

    .footer-details p,
    .footer-more-details p {
        margin: 0 20px 0px;
    }
}